<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="AdvDict">

    <select id="querySectorInfo">
        SELECT
        namecode,
        name
        FROM
        adplatform_basicdictionary
        WHERE
        type = 'sectors'
        AND flag = 1
    </select>

    <select id="queryMobileVendor">
        SELECT
        NAME,
        CODE
        FROM
        adplatform_mobile_vendor
    </select>

    <select id="queryOtherVendor">
        SELECT
        NAME,
        CODE
        FROM
        adplatform_mobile_vendor
        WHERE
        code NOT IN ( SELECT namecode FROM adplatform_basicdictionary WHERE type = 'vendor' )
    </select>

</mapper>