<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="DfDspAdv">
    <select id="queryDfDspAdvs">
        <![CDATA[
            SELECT
                a.hisId AS deliveryId,
                CASE
                WHEN a.positionType = 'pc' THEN
                b.positionType ELSE a.positionType
                END AS pgtype,
                a.unitprice,
                a.chargeway,
                a.money AS planBudget,
                a.realendTime,
                a.intervalTime,
                a.limitshowtime AS limitshow,
                a.limitclicktime AS limitclick,
                a.groupid AS groupId,
                a.subhisidnum AS subHisIdNum,
                a.yusuanType,
                b.adId AS advId,
                b.channel,
                b.adurl AS url,
                b.advertiser AS source,
                b.isdown AS isdownload,
                b.isaccurate,
                b.switch AS switchTag,
                b.apptypeid AS apptypeId,
                b.isgrayav AS adlever,
                b.iscustomtime AS bidModel,
                b.appstoreid AS appstoreId,
                b.channelnames AS qids,
                b.videourl AS videoUrl,
                b.videoalltime AS videoTime,
                b.download AS downloadurl,
                b.isretreatad,
                b.packagename,
                b.userId,
                b.interest,
                b.isfirstbrush,
                b.extra2 AS network,
                b.extra3 AS showRep,
                b.extra4 AS clickRep,
                b.extra5 AS newsClassifys,
                b.shieldarea AS shieldArea,
                b.adIntroduction AS topic,
                b.sex,
                b.province,
                b.ageGroup,
                b.timeQuantum,
                d.typeName,
                GROUP_CONCAT( DISTINCT e.imgPath ORDER BY e.imgId ASC ) AS imgJson,
                GROUP_CONCAT( DISTINCT f.formName ) AS os,
                c.imgWidth,
                CASE
                WHEN b.isfullscreen = 1 THEN
                1136 ELSE c.imgHeight
                END AS imgHeight,
                i.installIds AS installs,
                i.notInstallIds AS notinstalls,
                j.budget AS groupBudget,
                r.vendor,
                r.operator,
                r.interesttendency,
                r.clickHisLabel,
                r.monopolyposition AS limitPosition,
                r.sectors AS sectorCode,
                r.subadstyle AS subStyle,
                r.gdLabel,
                r.putinway,
                r.appredirect AS redirect,
                max( o.childrenId ) AS orderId,
                max( o.createTime ) AS orderCreateTime
            FROM
            (
                SELECT
                    hisId,
                    adId,
                    money,
                    showTime,
                    chargeway,
                    startTime,
                    POSITION,
                    unitprice,
                    realendTime,
                    intervalTime,
                    limitshowtime,
                    limitclicktime,
                    groupid,
                    ocpcunitprice,
                    subhisidnum,
                    yusuanType,
                    positionType
                FROM
                advertise.adplatform_adShowHistory
                WHERE
                startTime <= NOW( ) AND endTime >= NOW( )
                AND adstate = 1

                UNION ALL

                SELECT
                    hisId,
                    adId,
                    money,
                    showTime,
                    chargeway,
                    startTime,
                    POSITION,
                    unitprice,
                    realendTime,
                    intervalTime,
                    limitshowtime,
                    limitclicktime,
                    groupid,
                    ocpcunitprice,
                    subhisidnum,
                    yusuanType,
                    positionType
                FROM
                advertise.adplatform_adShowHistory
                WHERE
                startTime <= NOW( ) AND endTime >= NOW( )
                AND ( adstate =- 1 AND statusflag IN ( 1, 2 ) )
            ) AS a
            LEFT JOIN advertise.adplatform_adInfo b ON a.adId = b.adId
            LEFT JOIN advertise.adplatform_adPosition c ON b.positionId = c.positionId
            LEFT JOIN advertise.adplatform_adType d ON b.adType = d.adType
            LEFT JOIN advertise.adplatform_adImgInfo e ON e.adId = b.adId
            LEFT JOIN advertise.adplatform_formType f ON FIND_IN_SET( f.formId, b.formId )
            LEFT JOIN (
                SELECT
                    adId,
                    stdate,
                    eddate,
                    realunitprice
                FROM
                advertise.adplatform_adInfo_extend
                WHERE
                flag = 1
                AND stdate <= NOW( ) AND eddate >= NOW( )
            ) g ON b.adId = g.adId
            LEFT JOIN advertise.adplatform_banlance h ON b.userId = h.userId
            LEFT JOIN advertise.adplatform_installappinfo i ON a.adId = i.adId
            LEFT JOIN advertise.adplatform_adInfo_reviewextend r ON r.adId = a.adId
            LEFT JOIN advertise.adplatform_adInfo_group j ON a.groupid = j.id
            LEFT JOIN advertise.adplatform_delivery_order o ON a.hisId = o.hisId
            AND o.statusFlag = 1
            WHERE
            ( b.switch = 1 OR ( b.switch = - 1 AND b.deleteflag IN ( 1, 5 ) ) )
            AND j.flag = 1
            AND b.checked = 1
            AND b.platform = 'dongfang'
            AND ( h.banlance > 0 OR h.virtualBalance > 0 )
            GROUP BY
            a.adId
            ORDER BY
            b.iscustomtime DESC,
            a.unitprice DESC,
            b.isaccurate DESC,
            a.startTime ASC
        ]]>
    </select>
</mapper>