<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="OtherDspAdv">
    <select id="queryOtherDspAdvs">
        <![CDATA[
            SELECT
                adStyle,
                adId AS deliveryId,
                adv_adId AS advId,
                showrep AS showRep,
                clickrep AS clickRep,
                dsp_id AS dspId,
                advertiser AS source,
                adTitle AS topic,
                adurl AS url,
                isgrayav AS adlever,
                isdownload,
                downloadlink AS downloadurl,
                deepLinkUrl AS deeplink,
                appStoreId AS appstoreid,
                packageName,
                img1Path,
                img2Path,
                img3Path,
                terminal
            FROM
                adx_adinfo_sync
            WHERE
                STATUS = 1
                AND reviewstatus = 1
                AND startTime <= NOW( ) AND endTime >= NOW( )
         ]]>
    </select>
</mapper>